<div>
    <p>Title: @Movie.Title</p>
    <p>Release Date: <b>@Movie.ReleaseDate.ToString("dd MMM yyyy")</b></p>
    <div>
        @if (DisplayButton)
        {
            <button @onclick="Delete">Delete</button>
            <br />
            <button @onclick="@(() => DeleteMovie.InvokeAsync(Movie))">Delete with delegate</button>
        }
    </div>
</div>


@code {
    [Parameter] public Movie Movie { get; set; }
    [Parameter] public bool DisplayButton { get; set; } = false;
    //Event callback
    [Parameter] public EventCallback<Movie> DeleteMovie { get; set; }


    void Delete()
    {
        Console.WriteLine($"Deliting {Movie.Title}");
    }
}
