@using System.Linq.Expressions
@typeparam TValue
@inherits InputTextArea

<div>
    <label>@Label</label>
    <div>
        @* CurrentValue comes from InputTextArea *@
        <InputTextArea @bind-Value="@CurrentValue" />
        <ValidationMessage For="For"></ValidationMessage>
    </div>
</div>
<div>
    <label>@Label (preview)</label>
    <div class="markdown-container">
        <RenderMarkdown MarkdownContent="@CurrentValue" />
    </div>

</div>

@code {

    [Parameter] public string Label { get; set; }
    [Parameter] public Expression<Func<TValue>> For { get; set; }
}
