@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {

    // If there are many cascading parameters to use it is better to define a class
    public class AppState
    {
        public string ColorClass { get; set; } = "navy";
        public string SizeClass { get; set; } = "45px";
    }

    //Then we instantiate the AppState class
    AppState appState = new AppState();

}