@inject IJSRuntime js
@inject IMoviesRepository mr

<div class="movies-container">
    <GenericList List="Movies">
        <ItemTemplate Context="movie">
            @* The attribute @Key is important for it differentiates one movie to another - called Diffing algorithm *@ 
            <IndividualMovie2 Movie="movie" DeleteMovie="DeleteMovieAsync" @key="movie.Id" />
        </ItemTemplate>
    </GenericList>
</div>

@code {

    //The following becomes a parameter for this component
    [Parameter] public List<Movie> Movies { get; set; }

    //Delegate method
    private async Task DeleteMovieAsync(Movie movie)
    {
        await js.MyJsFunction("custom message");

        var confirmed = await js.Confirm($"Are you sure you want to delete {movie.Title}?");
        if (confirmed)
        {
            await mr.DeleteMovie(movie.Id);

            Movies.Remove(movie);
        }

    }
}
