@inject IJSRuntime js

<div class="movies-container">
    <GenericList List="Movies">
        <ItemTemplate Context="movie">
            <IndividualMovie2 Movie="movie" DeleteMovie="DeleteMovieAsync" />

        </ItemTemplate>
    </GenericList>
</div>


@code {

    //The following becomes a parameter for this component
    [Parameter] public List<Movie> Movies { get; set; }

    //Delegate method
    private async Task DeleteMovieAsync(Movie movie)
    {
        await js.MyJsFunction("custom message");

        var confirmed = await js.Confirm($"Are you sure you want to delete {movie.Title}?");
        if (confirmed)
            Movies.Remove(movie);

    }
}
