@page "/people/create"

@inject NavigationManager nm
@inject IPersonRepository pr
@* Only authorized users can access this component *@
@attribute [Authorize]

<h3>Create Person</h3>

<PersonForm Person="person" OnValidSubmit="Create" />

@code {

    private Person person = new Person();

    private async Task Create()
    {
        Console.WriteLine("Create method for person");
        Console.WriteLine(person.Name);

        try
        {
            await pr.CreatePerson(person);
            nm.NavigateTo("people");
        }
        catch (Exception ex)
        {

            //....
            Console.WriteLine(ex.Message);
        }
    }
}
