@page "/people/edit/{PersonId:int}"

@inject NavigationManager nm
@inject IPersonRepository pr
@* Only authorized users can access this component *@
@attribute [Authorize]

<h3>Edit Person</h3>

@if (null != person)
{
    <PersonForm Person="person" OnValidSubmit="Edit" />
}

@code {

    [Parameter] public int PersonId { get; set; }

    private Person person;

    protected async override Task OnInitializedAsync()
    {
        try
        {
            person = await pr.GetPerson(PersonId);

        }
        catch (Exception ex)
        {

            //....
            Console.WriteLine(ex.Message);
        }

    }

    private async Task Edit()
    {
        try
        {
            await pr.UpdatePerson(person);
            nm.NavigateTo("people");
        }
        catch (Exception ex)
        {

            //....
            Console.WriteLine(ex.Message);
        }
    }
}
