@page "/people"
@inject IPersonRepository pr

<h3>Person</h3>

<div class="form-group">
    <a class="btn btn-info" href="people/create">New Person</a>
</div>

<GenericList List="people">
    <WholeListTemplate>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in people)
                {
                    <tr>
                        <td>
                            <a class="btn btn-success" href="#">Edit</a>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                        <td>@item.Name</td>
                    </tr>

                }
            </tbody>
        </table>
    </WholeListTemplate>
</GenericList>

@code {
    private List<Person> people;

    protected async override Task OnInitializedAsync()
    {
        try
        {
            people = await pr.GetPeople();
        }
        catch (Exception ex)
        {

            Console.WriteLine(ex.Message);
        }
    }

}
