@page "/people"
@inject IPersonRepository pr

<h3>Person</h3>

<div class="form-group">
    <a class="btn btn-info" href="people/create">New Person</a>
</div>

<GenericList List="people">
    <WholeListTemplate>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in people)
                {
                    <tr>
                        <td>
                            <a class="btn btn-success" href="people/edit/@item.Id">Edit</a>
                            <button class="btn btn-danger" @onclick="@(() => DeletePerson(item.Id))">Delete</button>
                        </td>
                        <td>@item.Name</td>
                    </tr>

                }
            </tbody>
        </table>
    </WholeListTemplate>
</GenericList>

@code {
    private List<Person> people;
    private PaginationDTO paginationDTO = new PaginationDTO();

    protected async override Task OnInitializedAsync()
    {
        try
        {
            var paginatedResponse = await pr.GetPeople(paginationDTO);

            people = paginatedResponse.Response;

            Console.WriteLine("TotalAmountPages: {0}", paginatedResponse.TotalAmountPages);
        }
        catch (Exception ex)
        {

            Console.WriteLine(ex.Message);
        }
    }

    private async Task DeletePerson(int id)
    {
        try
        {
            Console.WriteLine($"Deleting Person: {id}");
            await pr.DeletePerson(id);
            var paginatedResponse = await pr.GetPeople(paginationDTO);

            people = paginatedResponse.Response;

            Console.WriteLine("TotalAmountPages: {0}", paginatedResponse.TotalAmountPages);


        }
        catch (Exception ex)
        {

            Console.WriteLine(ex.Message);
        }
    }

}
