@page "/counter"

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<input type="number" @bind="currentCount" name="name" />

<Component1 Param1="This is a parameter from a shared component" />