@page "/countertest2"

<h1>Counter</h1>

<p>Current count: @currentCount</p>
<p>Singleton value (Current value * 3): @ss.Value</p>
<p>Transient value: (Current value * 2) @ts.Value</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<input type="number" @bind="currentCount" name="name" />

<MoviesList Movies="movies" />
