@page "/"
@page "/index"

@* Index can be accessed as http://localhost or http://localhost/index *@

@inject IRepository repo

<div>
    <h3>Movie</h3>
    @*<MoviesListGen Movies="movies" />*@

    <MoviesList Movies="movies" />
</div>

@code{

    private List<Movie> movies;

    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(0);

        //From Repository service
        movies = repo.GetMovies();
    }
}