@page "/"
@page "/index"
@* Index can be accessed as http://localhost or http://localhost/index *@

@inject IRepository repo

<div>
    <h3>Movie</h3>
    @*<MoviesListGen Movies="movies" />*@

    <MoviesList Movies="movies" />
</div>

<CustomTypeahead SearchMethod="SearchMethod">
    <ResultTemplate>
        @context
    </ResultTemplate>
</CustomTypeahead>

@code{

    private List<Movie> movies;

    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(0);

        //From Repository service
        movies = repo.GetMovies();
    }

    private async Task<IEnumerable<string>> SearchMethod(string searchText)
    {
        await Task.Delay(2000);

        if (searchText.Contains("test", StringComparison.OrdinalIgnoreCase))
            return Enumerable.Empty<string>();

        return new List<string> { "Milko", "Marco" };
    }

}