@page "/refcomponent"
@inject SingletonService ss
@inject IRepository repo

<p>Singleton value (Current value * 3): @ss.Value (the value through all the app)</p>

<div>
    <h3>Movie</h3>
    <MoviesListGen @ref="mgl" Movies="movies" />
</div>

<button @onclick="AddNewMovie">Add a new movie</button>

@code{

    //The component to be referenced
    private MoviesListGen mgl;

    private List<Movie> movies;

    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(0);

        //movies = new List<Movie>
        //{
        //    new Movie {Title = "Spider-Man: Far From Home", ReleaseDate = new DateTime(2019, 7, 2)  },
        //    new Movie {Title = "Hulk", ReleaseDate = new DateTime(2003, 11, 23)  },
        //    new Movie {Title = "Terminator", ReleaseDate = new DateTime(1990, 7, 16)  }
        //};

        //From Repository service
        movies = repo.GetMovies();
    }

    private void AddNewMovie()
    {
        //Referenced component
        mgl.TestMethod("This is invoked from RefComponent.razor");

        movies.Add(new Movie { Title = "Movie added", ReleaseDate = DateTime.Today });
    }

}