@page "/movies/create"
@inject NavigationManager nm
@inject IMoviesRepository mr

<h3>Create movie</h3>

<MovieForm Movie="movie" OnValidSubmit="Create" SelectedGenres="@selectedGenres" NotSelectedGenres="@notSelectedGenres" />

@code {

    Movie movie = new Movie();

    private List<Genre> notSelectedGenres = new List<Genre>
{
        new Genre { Id= 1, Name = "Action" },
        new Genre { Id= 1, Name = "Comedy" },
        new Genre { Id= 1, Name = "Drama" }
    };

    // We set to an empty list though this is performed as well in the component
    private List<Genre> selectedGenres = new List<Genre>();

    private async Task Create()
    {
        Console.WriteLine("Creating movie...");
        Console.WriteLine(movie.Title);

        try
        {
            movie.Id = await mr.CreateMovie(movie);
            nm.NavigateTo($"movies/{movie.Id}/{movie.Title.Replace(" ", "-")}");
        }
        catch (Exception ex)
        {

            //....
            Console.WriteLine(ex.Message);
        }
        Console.WriteLine($"Movie Id: {movie.Id}");


    }
}
