@page "/movies/create"
@inject NavigationManager nm


<h3>Create movie</h3>

<MovieForm Movie="movie" OnValidSubmit="Create" SelectedGenres="@selectedGenres" NotSelectedGenres="@notSelectedGenres" />

@code {

    Movie movie = new Movie();

    private List<Genre> notSelectedGenres = new List<Genre>
{
        new Genre { Id= 1, Name = "Action" },
        new Genre { Id= 1, Name = "Comedy" },
        new Genre { Id= 1, Name = "Drama" }
    };

    // We set to an empty list though this is performed as well in the component
    private List<Genre> selectedGenres = new List<Genre>();

    private void Create()
    {
        Console.WriteLine("Creating movie...");
    }
}
