@page "/movies/filter"
@inject IRepository repo

<h3>Movie Filter</h3>

<div class="form-inline mb-2">
    <label for="title" class="sr-only">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Movie Title" @bind-value="@title"
           @bind-value:event="oninput" @onkeypress="@((KeyboardEventArgs e) => TitleKeyPressed(e))" />

    <div class="form-group mx-sm-3 mb-2">
        <select class="form-control" @bind="selectedGenre">
            <option value="0">Select Genre</option>
            @foreach (var genre in Genres)
            {
                <option value="@genre.Id">@genre.Name</option>
            }
        </select>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <input type="checkbox" class="form-check-input" id="upcomingReleases" @bind="upcomingReleases" />
        <label class="form-check-label" for="upcomingReleases">Upcoming Releases</label>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <input type="checkbox" class="form-check-input" id="inTheaters" @bind="inTheaters" />
        <label class="form-check-label" for="upcomingReleases">In Theaters</label>
    </div>
    <button class="btn btn-primary mb-2 mx-sm-3" @onclick="SearchForMovies">Filter</button>
    <button class="btn btn-danger mb-2" @onclick="Clear">Clear</button>
</div>

<MoviesList Movies="movies">

</MoviesList>

@code {

    List<Movie> movies;
    string title = "";
    string selectedGenre = "0";
    List<Genre> Genres = new List<Genre>()
{
        new Genre { Id = 1, Name = "Action" },
        new Genre { Id = 2, Name = "Comedy" }

    };

    bool upcomingReleases = false;
    bool inTheaters = false;

    protected override void OnInitialized()
    {
        movies = repo.GetMovies();
    }

    private void SearchForMovies()
    {
        movies = movies.Where(m => m.Title.Contains(title, StringComparison.OrdinalIgnoreCase)).ToList();

        Console.WriteLine($"title: {title}");
        Console.WriteLine($"selectedGenre: {selectedGenre}");
        Console.WriteLine($"upcomingReleases: {upcomingReleases}");
        Console.WriteLine($"inTheaters: {inTheaters}");
    }

    private void Clear()
    {
        movies = repo.GetMovies();

        title = string.Empty;
        selectedGenre = "0";
        upcomingReleases = inTheaters = false;
    }

    private void TitleKeyPressed(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            SearchForMovies();
        }
    }

}
