@page "/genres/edit/{GenreId:int}"

@inject NavigationManager nm
@inject IGenreRepository gr

<h3>EditGenre</h3>

@if (null != genre)
{
    <GenreForm Genre="genre" OnValidSubmit="Edit" />
}

@code {

    [Parameter] public int GenreId { get; set; }

    private Genre genre;

    protected async override Task OnInitializedAsync()
    {
        //genre = new Genre { Id = GenreId, Name = "Temp Placeholder" };

        try
        {
            genre = await gr.GetGenre(GenreId);
        }
        catch (Exception ex)
        {

            //....
            Console.WriteLine(ex.Message);
        }

    }

    private async Task Edit()
    {
        //Console.WriteLine("Edit method");
        //Console.WriteLine(genre.Id);
        //Console.WriteLine(genre.Name);

        try
        {
            await gr.UpdateGenre(genre);
            nm.NavigateTo("genres");
        }
        catch (Exception ex)
        {

            //....
            Console.WriteLine(ex.Message);
        }

    }

}
